*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(
    283deg,
    rgba(167, 195, 215, 1) -40%,
    rgba(111, 77, 204, 1) 100%
  );
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

main {
  height: 100vh;
}

a,
button {
  cursor: pointer;
}

input,
button {
  outline: none;
}

input,
button,
label {
  font-size: 18px;
  font-family: inherit;
}
